# Git files
.git
.gitignore
.github

# Specific repo files
/assets

# Documentation and metadata
README.md
SECURITY.md
LICENSE
CONTRIBUTING.md
.editorconfig
/docs

# Docker files (The Dockerfile itself isn't needed inside the image)
Dockerfile
docker-compose.yml
.dockerignore

# Build artifacts & Temporary files
*.log
tmp/
dist/
.cache/
/data
**/data
**/data/**
hytale-mod-downloader/.venv

# OS specific files
.DS_Store
Thumbs.db

# Potential sensitive/local config
.env
config/local.json
